*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration:none;
    list-style-type: none;
}

#carrito{
    color: red;
}

.modal-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    width: 200px;
    gap: 20px;
}



/*.modal-contenedor {
    display: flex;
    margin-top: 23px;
    display: none;
    position: fixed;
    top: 0; /* Mueve el modal hacia arriba, fuera de la pantalla */
    /*left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
   /* transition: top 0.3s ease-in-out; /* Transición suave de la propiedad 'top' */
   /* z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
    /*overflow: auto; /* Agrega desplazamiento si el contenido es largo */
    /*position: fixed;
    top: calc(50%);
    left: 50%;
    transform: translate(-50%, -50%);
  }*/
  
.modal-contenedor{
    
    width: 20%;
    margin-top: 0 10%;
    max-height: 88vh;
    color: #fff;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 5vh;
    right: 0;
    overflow: auto;
    z-index: 9;
    top: 5vh;
    


}
.orden{
    background-color: blue;
}
.modal-header{
    padding-left: 50px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background-color: black;
    color: #fff;
    width: 100%;
    align-items: center;
    
    

}



.modal-header-titulo {
    
    text-align: center;
    
}

.modal-header-boton {
    
    cursor: pointer;
    text-align: end;
   
}

.modal-contenedor > .modal-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
}

.modal-contenedor > div > img {
    height: 120px;
    width: 120px;
}

.modal-mensaje{
    color: red;
}

.total-content{
    display: flex;
    color: red;
    justify-content: center;
    
}

.borrar-producto{
    cursor: pointer;
}


header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 65px;
    padding: 0 30px;
    /* position: fixed; */
    position: sticky;
    top: 0;
    z-index: 2;
    
    
}

.navbar,
.navbar-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
}
.navbar{
    gap: 150px;
    max-width: 1200px;
    justify-content: space-between;
}

ul{
    list-style: none;
    gap: 20px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
}
    

.funko{
    width: 300px;
    background: var(--background);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}
.logo{
    
        width: 80px;
    
}
#contenedor{
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1200px;
    gap: 30px;

}

