*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration:none;
    list-style-type: none;
}

:root{
    --background: black;
    --primary: rgb(255, 255, 255);
    --secondary: rgb(237, 13, 237);
    --text-yellow: yellow;
    --second-color: gray;
    --section2: rgba(117, 139, 165, 0.974);
    --robin: green;
    --batgirl: violet;
    --redhood: red;
    --nightwind: blue;
    --background-Hero:rgb(230, 233, 241);
    --bacground-Card: rgb(7, 10, 159);

}

#cartas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.modal-content{
    display: flex;
    
    align-items: center;
    text-align: center;
    padding-left: 10px;
    width: 100%;
    gap: 20px;
    
}

.imagenCarrito{
    width: 150px;
    height: 100px;
}

.modal-content-info{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

a{
    color: white;
}
  


.modal-contenedor{
    display: flex;
    width: 30%;
    margin-top: 34px;
    max-height: 88vh;
    color: #fff;
    background-color: black;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 5vh;
    right: 0;
    overflow: auto;
    z-index: 9;
    
}

.modal-contenedor {
    font-size: 10px;
}



.modal-header{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: black;
    color: #fff;
    width: 100%;
    
    
    
    

}




.modal-header-titulo {
    
    text-align: center;
    
    
}

.modal-header-boton {
    
    cursor: pointer;
    text-align: end;
   
}



/*.modal-content img{
    width: 200px;
    height: 200px;
    
}*/

.modal-mensaje{
    color: red;
}

.total-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: red;
    justify-content: center;
    gap: 10px;
    
}.total-content button{
    width: 60px;
}


.borrar-producto{
    cursor: pointer;
}


header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 65px;
    padding: 0 30px;
    /* position: fixed; */
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: black;
    
    
}

.navbar,
.navbar-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
}
.navbar{
    gap: 150px;
    
    justify-content: space-between;
    
}
.navbar-list{
    display: flex;
}

ul{
    list-style: none;
    gap: 20px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    width: 100%;
    background-color: var(--bacground-Card);
    gap: 15px;
}
  

/*SECCION HERO*/
#hero{
    width: 70%;
    margin-top: 65px;
    padding: 70px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: var(--background-Hero);
}
.hero-info{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero-info h1{
    font-size: 45px;
    width: 100%;
    font-weight: 500px;
    color: blue;
}
.hero-info p{
    font-size: 14px;
    width: 50%;
    color: blue;
    
    
}
.hero-info p>span{
    font-weight: 800;
}
.hero-info a {
    color: var(--bacground-Card);
    background-color: var(--background);
    width: 120px;
    padding: 8px 0;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
    
}
.hero-card{
    width: 300px;
    background: var(--bacground-Card);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.hero-card-info{
    text-align: center;
}
#hero2{
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--background-Hero);
}
#hero2 p{
    font-size: 50px;
}
#logo-carta{
    width: 80px;
}
.hero-card-top h3{
    overflow: hidden;
}
.hero-card span, h3{
    color: white;
}

/*-----------*/

/*SECTION PRODUCTOS

----------------*/

#productos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 90%;
    background: var(--background-Hero);
    border-radius: 10px;
    padding-bottom: 15px;
}


.funko{
    width: 300px;
    background: var(--background);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    background: var(--bacground-Card);
}
.imagen-carta{
    width: 250PX;
    height: 200px;
}
.logo-carta{
    width: 55px;
    height: 25PX;
}

.funko-nombre,
.funko-categoria
{
    color: white;
}
.funko-precio{
    color: red;
}
.logo{
    
        width: 80px;
    
}
#contenedor{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    width: 78%;
    gap: 10px;
    border-radius: 5px;

}

.fa-shopping-cart {
    font-size: 30px; /* Ajusta el tamaño del icono según tus preferencias */
    position: relative;
    display: inline-block;
    margin-right: 10px; /* Espacio entre el icono y el número */
}

#carrito {
    position: relative;
    color: red;
}
.abierto{
    display: block !important;
}

.cantidadCarrito {

    text-align: center; /* Alinea el texto al centro horizontalmente */
    margin-top: 1px; /* Ajusta la posición vertical */
    margin-right: 3px;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 10px;
    min-width: 18px; 
    
}
/*
----------------    
    BOTONES
----------------
*/
.botones{
    display: flex;
    margin-top: 10px;
}

.boton-filtro {
    background-color: #ccc; /* Color de fondo predeterminado */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.boton-filtro.activo {
    background-color: blue; /* Color de fondo cuando está activo */
    color: white; /* Color del texto cuando está activo */
}

#btnVerMas {
    background-color: #ccc; /* Color de fondo predeterminado */
    padding: 10px 20px;
    border: none;
    cursor: pointer;    
    width: 80px;
    background-color:var(--bacground-Card);
    color: var(--background-Hero);
    
}

.menos,
.mas{
    cursor: pointer;
}
#menu{
    width: 30px;
    display: none;
}


/*----------------
    CONTACTOS
----------------*/

#contacto{
    display: flex;
    
    justify-content: space-around;
    text-align: center;
    
    background-color: var(--bacground-Card);
    
    padding: 25px;
    width: 100%;
}
#contacto h1{
    font-size: 50px;
    color: white;
}
.contacto-tienda{
    color: white;

}
.datos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    color: white;
    gap: 10px;
    
}
.titulo{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: blue;
    color: white;
    padding: 15px;
}
.orden{
   gap: 50px;

    display: flex;
   justify-content: space-evenly;
   background-color: var(--bacground-Card);
   
    

}

.contacto-info-direccion{
    display: flex;
    flex-direction: column;
    padding-top:  15px;
    background-color: white;
    gap: 15px;
    
    color: blue;
}
.contacto-info-direccion h3, h2{
    color: blue;
}

.contacto-info{
    gap: 20px;
    color: blue;
}

.form{
    padding-bottom: 15px;
}

footer{
    padding: 25px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
}

/*------------------------

            TABLET

--------------------------*/

@media  (max-width: 992px){

        #hero{
            display: flex;
            flex-direction: column;
        }
        .hero-info {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            
        }
    
        .hero-info h1{
            font-size: 30px;
        }
        
        .hero-info p{
            width: 100%;
            
    
        }
           

}



@media (max-width: 576px){
    body{
        max-width: 575px;
    }
    main{
        max-width: 575px;
    }

    .modal-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        width: 100%;
        gap: 20px;
    }
    .modal-contenedor{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 57%;
    }

    #productos{
        width: 100%;
    }


    #cartas{
        width: 70%;

    }

    #hero{
        display: none;
        margin-top: 65px;
        padding: 70px;
        width: 60%;
        display: flex;
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 5px;
        background: var(--background-Hero);
        width: 70%;
    }
    .hero-card{
        display: none;
    }
    .hero-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        
    }

    
    .hero-info h1{
        font-size: 20px;
        
        
    }
    .hero-info p{
        width: 100%;
        

    }
        
        
    
   .navbar-list {
        margin-top: 65px;
        height: 300px;
        display: none;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        background-color: black;
        padding: 2rem;

        
    }

    .visible{
        display: block;
        top: 0;
        
    }

    #menu{
        width: 10px;
        display: block;
        border: none;
    }
    #menu img{
        width: 25px;
        cursor: pointer;
        display: block;
    }
    #contenedor{
        max-width: 575px;
    }
    #contacto{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
   
    .orden{
        display: flex;
        flex-direction: column;
        
    }

}
   




