*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration:none;
    list-style-type: none;
}



.modal-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    width: 200px;
    gap: 20px;
}



/*.modal-contenedor {
    display: flex;
    margin-top: 23px;
    display: none;
    position: fixed;
    top: 0; /* Mueve el modal hacia arriba, fuera de la pantalla */
    /*left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
   /* transition: top 0.3s ease-in-out; /* Transición suave de la propiedad 'top' */
   /* z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
    /*overflow: auto; /* Agrega desplazamiento si el contenido es largo */
    /*position: fixed;
    top: calc(50%);
    left: 50%;
    transform: translate(-50%, -50%);
  }*/
  
.modal-contenedor{
    
    width: 20%;
    margin-top: 0 10%;
    max-height: 88vh;
    color: #fff;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 5vh;
    right: 0;
    overflow: auto;
    z-index: 9;
    top: 5vh;
    


}
.orden{
    background-color: blue;
}
.modal-header{
    padding-left: 50px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background-color: black;
    color: #fff;
    width: 100%;
    align-items: center;
    
    

}



.modal-header-titulo {
    
    text-align: center;
    
}

.modal-header-boton {
    
    cursor: pointer;
    text-align: end;
   
}

.modal-contenedor > .modal-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
}

.modal-contenedor > div > img {
    height: 120px;
    width: 120px;
}

.modal-mensaje{
    color: red;
}

.total-content{
    display: flex;
    color: red;
    justify-content: center;
    
}

.borrar-producto{
    cursor: pointer;
}


header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 65px;
    padding: 0 30px;
    /* position: fixed; */
    position: sticky;
    top: 0;
    z-index: 2;
    
    
}

.navbar,
.navbar-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
}
.navbar{
    gap: 150px;
    max-width: 1200px;
    justify-content: space-between;
}

ul{
    list-style: none;
    gap: 20px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
}
    

.funko{
    width: 300px;
    background: var(--background);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.funko-nombre,
.funko-categoria,
.funko-precio{
    color: blue;
}

.logo{
    
        width: 80px;
    
}
#contenedor{
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1200px;
    gap: 30px;

}

.fa-shopping-cart {
    font-size: 30px; /* Ajusta el tamaño del icono según tus preferencias */
    position: relative;
    display: inline-block;
    margin-right: 10px; /* Espacio entre el icono y el número */
}

#carrito {
    position: relative;
    color: red;
}

.cantidadCarrito {

    text-align: center; /* Alinea el texto al centro horizontalmente */
    margin-top: 1px; /* Ajusta la posición vertical */
    margin-right: 3px;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 10px;
    min-width: 18px; 
    
}

.boton-filtro {
    background-color: #ccc; /* Color de fondo predeterminado */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.boton-filtro.activo {
    background-color: blue; /* Color de fondo cuando está activo */
    color: white; /* Color del texto cuando está activo */
}

.menos,
.mas{
    cursor: pointer;
}
#menu{
    width: 30px;
    display: none;
}


@media (max-width: 576px){


    
    .navbar-list{
        display: none;
        
        
    }
    .navbar-list {
        margin-top: 50px;
        display: none;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        background-color: yellow;
        padding: 2rem;
    }

    .visible{
        display: block;
        top: 0;
        
    }

    #menu{
        width: 10px;
        display: block;
        border: none;
    }
    #menu img{
        width: 25px;
        cursor: pointer;
        display: block;
    }
}



